@keyframes wiggle {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(10deg); }
  60% { transform: rotate(40deg); }
  80% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}

.body {
  background-color: #e1e8f0;
  margin: 0;
  overflow: hidden;
}

.body-view {
  overflow: visible;
}

.body-view * {
  position: relative;
  z-index: -1;
}

.header {
  height: 150px;
  transition: background-color 1s;
}

.header-hide {
  background-color: #98ffd5;
}

.header-view {
  background-color: #fff;
}

.header-title {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  margin-top: 0;
  padding-top: 40px;
}

.palette-container {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.palette-color {
  box-sizing: border-box;
  border-radius: 12px;
  height: 320px;
  margin-top: 50px;
  width: 200px;
  z-index: 0;
}

.palette-color:hover .unlocked-color-icon{
  animation: wiggle 1s infinite;
}

.selected-palette-color {
  border: 5px solid #000;
}

.color-icon-container {
  margin: 0 auto;
  margin-top: 250px;
  text-align: center;
}

.unlocked-color-icon {
  transition: all 1s ease-in-out;
  font-size: 2rem;
}

.unlocked-color-icon:hover {
  transform: scale(1.5);
  animation: none !important;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn {
  border-radius: 12px;
  background-color: #3333ff;
  color: #fff;
  font-size: 0.8rem;
  height: 50px;
  width: 80px;
}

.input {
  border: none;
  border-bottom: 3px solid #000;
  font-size: 1rem;
  height: 40px;
  vertical-align: bottom;
}

.palette-name-input {
  width: 150px;
}

.generate-btn {
  margin-right: 80px;
  width: 200px;
}

.saved-palette-container {
  background-color: #98ffd5;
  height: 1000px;
  margin-top: 30px;
  transition: margin-top 1s;
  width: 100%;
  z-index: 1;
}

.saved-palette-container-hide {

}

.saved-palette-container-view {
  margin-top: -490px;
}

.saved-palette-container-view * {
  z-index: 2;
}

.select-saved-btn-container {
  transition: background-color 1s;
  width: 100%;
}

.select-saved-btn-container-hide {
  background-color: #e1e8f0;
}

.select-saved-btn-container-view {
  background-color: #98ffd5;
}


.select-saved-btn {
  background-color: #98ffd5;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  transition: background-color 1s;
  width: 200px;
}

.select-saved-btn-icon {
  font-size: 2rem;
  padding-top: 8px; 
}

.new-project-title {

}

.new-project-form-container {
  display: flex;
}

.new-project-form {
  margin: 0 auto;
}

.saved-project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-container {
  background-color: #fff;
  border-radius: 12px;
  margin-top: 50px;
  width: 300px;
}

.project-title {
  padding-left: 20px;
}

.project-palette-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.project-palette-container-title {
  margin: 0;
}

.palette-color-box {
  height: 30px;
  width: 30px;
}

.removePaletteBtn {

}

