.body {
  background-color: #e1e8f0;
  margin: 0;
  overflow: hidden;
}

.body-view * {
  position: relative;
  z-index: -1;
}

.header {
  height: 150px;
  transition: background-color 1s;
}

.header-hide {
  background-color: #98ffd5;
}

.header-view {
  background-color: #fff;
}

.header-title {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  margin-top: 0;
  padding-top: 40px;
}

.palette-container {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.palette-color {
  border-radius: 12px;
  height: 320px;
  margin-top: 50px;
  width: 200px;
  z-index: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn {
  border-radius: 12px;
  background-color: #3333ff;
  color: #fff;
  font-size: 0.8rem;
  height: 50px;
  width: 80px;
}

.palette-name-input {
  border: none;
  border-bottom: 3px solid #000;
  font-size: 1rem;
  height: 40px;
  vertical-align: bottom;
  width: 150px;
}

.generate-btn {
  margin-right: 80px;
  width: 200px;
}

.saved-palette-container {
  background-color: #98ffd5;
  height: 1000px;
  margin-top: 30px;
  transition: margin-top 1s;
  width: 100%;
  z-index: 1;
}

.saved-palette-container-hide {

}

.saved-palette-container-view {
  margin-top: -490px;
}

.select-saved-btn-container {
  transition: background-color 1s;
  width: 100%;
}

.select-saved-btn-container-hide {
  background-color: #e1e8f0;
}

.select-saved-btn-container-view {
  background-color: #98ffd5;
}

.select-saved-btn {
  background-color: #98ffd5;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  transition: background-color 1s;
  width: 200px;
}

.select-saved-btn-icon {
  font-size: 2rem;
  padding-top: 8px; 
}

